.search_bar{
    margin-bottom: 25px;
}
.search_bar input[type=search] {
    width: 130px;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
